<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Automation Exam Tests">
        <classes>
            <class name="selenium.tests.exam_tests.CurrencyTest"/>
            <class name="selenium.tests.exam_tests.SearchResultsPageTest"/>
        </classes>
    </test>
</suite>
